# Qt / Qt Creator
build/
*.pro.user
*.pro.user.*
*.user
*.user.*
*.autosave

# Local backups
*.bak
*.bak.*
*.bak.local

# Qt Creator local settings
.qtcreator/
.qtc_clangd/

# OS cruft
.DS_Store
Thumbs.db

# Build / artifacts
*.o
*.exe
*.obj
*.log
*.qmake.stash
